<?xml version="1.0" encoding="UTF-8"?>
<raja>
  <CompositeAdapter><!-- Adaptateur général : contenant le schéma global -->
    <OWL url="bin/GeneralOnto.owl" />
    <Prefix>
      <P>
        <nom>rdf</nom>
        <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
      </P>
      <P>
        <nom>rdfs</nom>
        <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
      </P>
      <P>
        <nom>owl</nom>
        <uri>http://www.w3.org/2002/07/owl#</uri>
      </P>
      <P>
        <nom>maladie</nom>
        <uri>http://www.lirmm.fr/maladie#</uri>
      </P>
      <P>
        <nom>virus</nom>
        <uri>http://www.lirmm.fr/virus#</uri>
      </P>
      <P>
        <nom>recensement</nom>
        <uri>http://www.lirmm.fr/recensement#</uri>
      </P>
    </Prefix>
      <CompositeAdapter><!-- Adaptateur MaladieVirus -->
        <OWL url="maladiesVirus.owl" />
        <Prefix>
          <P>
            <nom>rdf</nom>
            <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
          </P>
          <P>
            <nom>rdfs</nom>
            <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
          </P>
          <P>
            <nom>owl</nom>
            <uri>http://www.w3.org/2002/07/owl#</uri>
          </P>
          <P>
            <nom>maladie</nom>
            <uri>http://www.lirmm.fr/maladie#</uri>
          </P>
          <P>
            <nom>virus</nom>
            <uri>http://www.lirmm.fr/virus#</uri>
          </P>
        </Prefix>
          <TerminalAdapter><!-- Adaptateur Maladie -->
            <Traducteur>
              <N3>
                <URL>bin/MaladieFacteurMapping.n3</URL>
                <GetMetaInfo>DESCRIBE ?a ?ressources ?c WHERE{{?a rdf:type owl:Class . ?a rdf:type rdfs:Class} UNION {?a rdf:type owl:Class . ?b rdfs:subClassOf ?a} }</GetMetaInfo>
                <Prefix>
                  <P>
                    <nom>rdf</nom>
                    <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
                  </P>
                  <P>
                    <nom>rdfs</nom>
                    <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
                  </P>
                  <P>
                    <nom>owl</nom>
                    <uri>http://www.w3.org/2002/07/owl#</uri>
                  </P>
                  <P>
                    <nom>maladie</nom>
                    <uri>http://www.lirmm.fr/maladie#</uri>
                  </P>
                </Prefix>
              </N3>
              <Database>
                <dataBaseName>facteurmaladie</dataBaseName>
                <address>192.168.0.15</address>
                <userName>root</userName>
                <port>1186</port>
                <password>root</password>
                <type>mysql</type>
              </Database>
            </Traducteur>  
          </TerminalAdapter>
          <TerminalAdapter><!-- Adaptateur Virus -->
            <Traducteur>
              <N3>
                <URL>bin/VirusTransmissionMapping.n3</URL>
                <GetMetaInfo>DESCRIBE ?a ?ressources ?c WHERE{{?a rdf:type owl:Class . ?a rdf:type rdfs:Class} UNION {?a rdf:type owl:Class . ?b rdfs:subClassOf ?a} }</GetMetaInfo>
                <Prefix>
                  <P>
                    <nom>rdf</nom>
                    <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
                  </P>
                  <P>
                    <nom>rdfs</nom>
                    <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
                  </P>
                  <P>
                    <nom>owl</nom>
                    <uri>http://www.w3.org/2002/07/owl#</uri>
                  </P>
                  <P>
                    <nom>virus</nom>
                    <uri>http://www.lirmm.fr/virus#</uri>
                  </P>
                </Prefix>
              </N3>
              <Database>
                <dataBaseName>XE</dataBaseName>
                <address>192.168.0.15</address>
                <userName>dbuser</userName>
                <port>1521</port>
                <password>dbuser</password>
                <type>oracle</type>
              </Database>
            </Traducteur>
          </TerminalAdapter>
      </CompositeAdapter>
      <CompositeAdapter><!-- Adaptateur Recenssement -->
        <OWL url="bin/recencement.owl" />
        <Prefix>
          <P>
            <nom>rdf</nom>
            <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
          </P>
          <P>
            <nom>rdfs</nom>
            <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
          </P>
          <P>
            <nom>owl</nom>
            <uri>http://www.w3.org/2002/07/owl#</uri>
          </P>
          <P>
            <nom>recensement</nom>
            <uri>http://www.lirmm.fr/recensement#</uri>
          </P>
        </Prefix>
        <TerminalAdapter>
          <Traducteur>
            <N3>
              <URL>RecencementMapping.n3</URL>
              <GetMetaInfo>DESCRIBE ?a ?ressources ?c WHERE{{?a rdf:type owl:Class . ?a rdf:type rdfs:Class} UNION {?a rdf:type owl:Class . ?b rdfs:subClassOf ?a} }</GetMetaInfo>
              <Prefix>
                <P>
                  <nom>rdf</nom>
                  <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
                </P>
                <P>
                  <nom>rdfs</nom>
                  <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
                </P>
                <P>
                  <nom>owl</nom>
                  <uri>http://www.w3.org/2002/07/owl#</uri>
                </P>
                <P>
                  <nom>recensement</nom>
                  <uri>http://www.lirmm.fr/recensement#</uri>
                </P>
              </Prefix>
            </N3>
            <Database>
              <dataBaseName>receurope</dataBaseName>
              <address>192.168.0.15</address>
              <userName>root</userName>
              <port>5432</port>
              <password>root</password>
              <type>mysql</type>
            </Database>
          </Traducteur>
        </TerminalAdapter>
        <TerminalAdapter>
          <Traducteur>
            <N3>
              <URL>Recencement2Mapping.n3</URL>
              <GetMetaInfo>DESCRIBE ?a ?ressources ?c WHERE{{?a rdf:type owl:Class . ?a rdf:type rdfs:Class} UNION {?a rdf:type owl:Class . ?b rdfs:subClassOf ?a} }</GetMetaInfo>
              <Prefix>
                <P>
                  <nom>rdf</nom>
                  <uri>http://www.w3.org/1999/02/22-rdf-syntax-ns#</uri>
                </P>
                <P>
                  <nom>rdfs</nom>
                  <uri>http://www.w3.org/2000/01/rdf-schema#</uri>
                </P>
                <P>
                  <nom>owl</nom>
                  <uri>http://www.w3.org/2002/07/owl#</uri>
                </P>
                <P>
                  <nom>recensement</nom>
                  <uri>http://www.lirmm.fr/recensement#</uri>
                </P>
              </Prefix>
            </N3>
            <Database>
              <dataBaseName>receasteurope</dataBaseName>
              <address>192.168.0.15</address>
              <userName>root</userName>
              <port>5432</port>
              <password>root</password>
              <type>mysql</type>
            </Database>
          </Traducteur>
        </TerminalAdapter>
      </CompositeAdapter>
  </CompositeAdapter>
</raja>
