<?xml version="1.0" encoding="UTF-8"?>
<raja>
  <CompositeAdapter><!-- Adaptateur général : contenant le schéma global -->
    <OWL url="/home/manland/..." />
    <Prefix>
      <P>virus</P><P>maladie</P><P>recencement</P>
    </Prefix>
      <CompositeAdapter><!-- Adaptateur MaladieVirus -->
        <OWL url="" />
        <Prefix>
          <P>virus</P><P>maladie</P><P>recencement</P>
        </Prefix>
          <TerminalAdapter><!-- Adaptateur Maladie --><!-- Traducteur ???? -->
            <Traducteur>
              <N3>
                <URL>/home/manland...</URL>
                <GetMetaInfo>SELECT ?a ?b ?c WHERE {?a ?b ?c}</GetMetaInfo>
                <Prefix>
                  <P>virus</P><P>maladie</P><P>recencement</P>
                </Prefix>
              </N3>
              <!--<N3 url="sdf" getMetaInfo="sdf" />-->
              <Database>
                <dataBaseName>sdf</dataBaseName>
                <address>ssf</address>
                <userName>ffsd</userName>
                <port>12</port>
                <password>sdf</password>
                <type>sdf</type>
              </Database>
            </Traducteur>  
          </TerminalAdapter>
          <TerminalAdapter><!-- Adaptateur Virus --><!-- Traducteur ???? -->
            <Traducteur>
              <N3>
                <URL>/home/manland...</URL>
                <GetMetaInfo>SELECT ?a ?b ?c WHERE {?a ?b ?c}</GetMetaInfo>
                <Prefix>
                  <P>virus</P><P>maladie</P><P>recencement</P>
                </Prefix>
              </N3>
              <Database>
                <dataBaseName>sgsdf</dataBaseName>
                <address>sdf</address>
                <userName>sdf</userName>
                <port>15</port>
                <password>sdfdsf</password>
                <type>sdf</type>
              </Database>
            </Traducteur>
          </TerminalAdapter>
      </CompositeAdapter>
      <CompositeAdapter><!-- Adaptateur Recenssement -->
        <OWL url="" />
        <Prefix>
          <P>virus</P><P>maladie</P><P>recencement</P>
        </Prefix>
        <TerminalAdapter>
          <Traducteur><!-- Traducteur ???? -->
            <N3>
              <URL>/home/manland...</URL>
              <GetMetaInfo>SELECT ?a ?b ?c WHERE {?a ?b ?c}</GetMetaInfo>
              <Prefix>
                <P>virus</P><P>maladie</P><P>recencement</P>
              </Prefix>
            </N3>
            <Database>
              <dataBaseName>sdfsfd</dataBaseName>
              <address>gfhgh</address>
              <userName>gkjkj</userName>
              <port>14</port>
              <password>jhjhk</password>
              <type>sdf</type>
            </Database>
          </Traducteur>
        </TerminalAdapter>
        <TerminalAdapter>
          <Traducteur><!-- Traducteur ???? -->
            <N3>
              <URL>/home/manland...</URL>
              <GetMetaInfo>SELECT ?a ?b ?c WHERE {?a ?b ?c}</GetMetaInfo>
              <Prefix>
                <P>virus</P><P>maladie</P><P>recencement</P>
              </Prefix>
            </N3>
            <Database>
              <dataBaseName>dfgdg</dataBaseName>
              <address>dfgfg</address>
              <userName>dfgfdg</userName>
              <port>12</port>
              <password>dfgdfg</password>
              <type>sdf</type>
            </Database>
          </Traducteur>
        </TerminalAdapter>
        <TerminalAdapter>
          <Traducteur><!-- Traducteur ???? -->
            <N3>
              <URL>/home/manland...</URL>
              <GetMetaInfo>SELECT ?a ?b ?c WHERE {?a ?b ?c}</GetMetaInfo>
              <Prefix>
                <P>virus</P><P>maladie</P><P>recencement</P>
              </Prefix>
            </N3>
            <Database>
              <dataBaseName>dfgdfg</dataBaseName>
              <address>cvb</address>
              <userName>cvbcvb</userName>
              <port>17</port>
              <password>cvbcvbcb</password>
              <type>sdf</type>
            </Database>
          </Traducteur>
        </TerminalAdapter>
      </CompositeAdapter>
  </CompositeAdapter>
</raja>
